name: Code Quality

on:
  pull_request:
    branches:
      - dev
      - stage
      - prod

jobs:
  quality:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black isort flake8

      - name: Run Black (Formatter)
        run: black . --check

      - name: Run Isort (Import Sorter)
        run: isort . --check-only --diff

      - name: Run Flake8 (Linter)
        run: flake8 .
